<ion-header>
  <ion-toolbar>
    <ion-title>Select Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
   
      
         <ion-item>
  
          <ion-label>Select Your  GoogleMap Address</ion-label>
        </ion-item>   
        <!-- <div class="google-maps" > -->
          <!-- <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125745.71978153489!2d76.23825281885064!3d9.971036374451424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d08f976f3a9%3A0xe9cdb444f06ed454!2sErnakulam%2C%20Kerala!5e0!3m2!1sen!2sin!4v1616564776993!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
          <agm-map [latitude]="servicebooking.Latitude" [longitude]="servicebooking.Longitude" [zoom]="zoom">
            <agm-marker [latitude]="servicebooking.Latitude" [longitude]="servicebooking.Longitude"
              (dragEnd)="markerDragEnd($event)" [markerDraggable]="true">
            </agm-marker>
          </agm-map>
        <!-- </div> -->
  
       
        
          <ion-item>
            <ion-label>Address</ion-label>
            <ion-textarea [(ngModel)]="servicebooking.Address"> </ion-textarea>
          </ion-item>
       
        <ion-button (click)="submit()">Submit</ion-button> 
     



</ion-content>
